@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
}

body {
  height: 100vh;
  background-color: #e6eef3;
  padding: 2vw 15vw;
  font-family: "Sora", sans-serif;
}
